<%- include("includes/head.ejs") %>


<body>
  <%- include("includes/navbar.ejs") %>
  <h3>Your Orders</h3>
  <form action="/Category">
  <button type="submit" class="btn btn-primary auto ">continue Shoping</button>
</form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">product name</th>
        <th scope="col">Price</th>
        <th scope="col">ProductID</th>
        <th scope="col">Status</th>
        <th scope="col">Cancel ODR</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% for( let product of data) { %>
          <tr>
            <td><%= product.product %></td>
            <td><%= product.Total %></td>
            <td><%= product.productID %></td> 
            <td><%= product.Stetus %></td> 
            <td><%= product.Amount %></td> 
            <td>
              <form method="post" action="/Order/<%= product.productID %>?_method=DELETE">
                <button type="submit" class="btn btn-primary">Cancal</button>
              </form>
            </tb>  
      </tr>
      <% } %>
    </tbody>
  </table>
  <%- include("includes/footer.ejs") %>

</body>
