<%- include("includes/head.ejs") %>

<body>
  <%- include("includes/navbar.ejs") %>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mx-auto p-5 ">
    <% for(let product of data) { %>
      <a href="/ProductDetails/<%= product.id %>">
          <div class="card col"  >
            <img src="<%= product.decs %>" class="card-img-top" alt="image" style="height:20rem">
            <div class="card-body">
              <h5 class="card-title"><%= product.title %></h5>
              <p class="card-text"><%= product.image %></p>
              <p><b><%= product.price %></b></p>
              <a href="/ProductDetails/<%= product.id %>" class="btn btn-primary">See More Details</a>
            </div>
          </div>
        </a>
    <% } %>
    </div>
 
      <%- include("includes/footer.ejs") %>

</body>
