<% layout("/boilerplate/boilerplate.ejs") %>
<body> 
  <div class="row mt-5 mb-5">
    <div class="col-8 offset-3">
      <div class="card mb-3" style="max-width: 540px;">
            <img src="<%= data[0].decs %>" class="img-fluid rounded-start card-img-top" alt="img"  style="height:20rem">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= data[0].title %></h5>
              <p class="card-text"><%= data[0].image %></p>
              <p class="card-text">&#8377; <b><%= data[0].price.toLocaleString("en-IN") %></b></p>
              <p class="card-text">product Availability : <%= data[0].avb %></p>
          <form action="/add-to-Cart" method="post">
              <input type="hidden" name="title" value="<%= data[0].title %>">
              <input type="hidden" name="Amount" value="<%= data[0].price %>">
              <input type="hidden" name="productID" value="<%= data[0].id %>">
              <button type="submit" class="btn btn-primary" value="submit">Add to cart</button>
            </form>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
      </div>
    </div>
  </div>  
</body>
